<div class="container">
  <div class="row">
    <div class="col-xs- 12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

      <h2>Welcome to your file reader</h2>

      <form (ngSubmit)="onSubmit()" #z="ngForm">

        <div
          id="request"
          ngModelGroup="request"
          #request="ngModelGroup">


          <div class="form-group">
            <label for="fileType">Choose file type:</label>
            <select
              id="fileType"
              class="form-control"
              [ngModel]="defaultType"
              [(ngModel)]="filterTypeName"
              name="fileType">

              <option
                *ngFor="let fileType of fileTypes"
                [value]="fileType"> {{ fileType }}
              </option>

            </select>




            <div class="form-group" *ngIf="filterTypeName === '.xml'" (click)="showFiles()">
              <p>Available xml files: </p>
              <p>{{filesList}}</p>
            </div>

            <div class="form-group" *ngIf="filterTypeName === '.xlsx'">
              <p>Available xlsx files: </p>
            </div>





          </div>



          <div class="form-group">
            <label for="fileName">Please enter the file name: </label>
            <input
              type="text"
              id="fileName"
              class="form-control"
              ngModel
              name="fileName"
              required
              #fileName="ngModel">
            <span class="help-block" *ngIf="!fileName.valid && fileName.touched">Please enter file name.</span>
          </div>

        </div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!z.valid"> Submit
        </button>
      </form>
    </div>
  </div>

  <br>
  <br>

  <div class="row" *ngIf="fileDeleted && submitted === false">
    <div class="col-xs-12 result-not-found-message">
      The file was deleted.
    </div>
  </div>

  <div class="row" *ngIf="submitted && customers !== null">
    <div class="col-xs-12">
      <h4>Your requested file is:</h4>
      <div>
        <p> File type: {{ requestSent.fileType}} </p>
        <p> File name: {{ requestSent.fileName }} </p>
        <p> Requested file: <strong> {{ requestedFile }} </strong> </p>
      </div>
    </div>
  </div>

  <div class="row result-not-found-message" *ngIf="submitted && customers === null">
    There is no such file in the database.
  </div>

  <div class="row" *ngIf="submitted && customers !== null">
    <div class="col-xs-12">
      <p>The result:</p>
      <div *ngIf="customers">

        <div>
          <table class="table">
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Last name</th>
              <th>Age</th>
              <th>City</th>
              <th>Phone</th>
              <th>Email</th>
            </tr>
            <tr *ngFor="let customer of customers.customerList; let i = index">
              <td>{{i + 1}}</td>
              <td>{{customer.name}}</td>
              <td>{{customer.lastName}}</td>
              <td>{{customer.age}}</td>
              <td>{{customer.city}}</td>
              <td>{{customer.phone}}</td>
              <td>{{customer.email}}</td>
            </tr>
          </table>
        </div>

      </div>
    </div>
  </div>

  <br>
  <hr>
  <br>

  <div class="row" *ngIf="submitted  && customers !== null">
    <div class="col-xs-12">
      <app-reader-search-filter [fileNameToFilter]="currentFileName" [fileTypeToFilter]="currentFileType"></app-reader-search-filter>
    </div>
  </div>

  <br>
  <hr>
  <br>

  <div class="row" *ngIf="submitted  && customers !== null">
    <div class="col-xs-12">
      <app-update [customersToModify]="customers" [fileNameToModify]="currentFileName" [fileTypeToModify]="currentFileType"></app-update>
    </div>
  </div>

  <br>
  <hr>
  <br>

  <div class="row" *ngIf="submitted  && customers !== null">
    <div class="col-xs-12">
      <app-delete [fileNameToDelete]="currentFileName" [fileTypeToDelete]="currentFileType"></app-delete>
    </div>
  </div>

</div>
