<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

      <div class="col-xs-12">
        <p>File preview:</p>
        <p> <strong> {{ fileName }} </strong></p>
        <div *ngIf="customersToShow">
          <div>

            <table class="table">
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Last name</th>
                <th>Age</th>
                <th>City</th>
                <th>Phone</th>
                <th>Email</th>
              </tr>
              <tr *ngFor="let customer of customersToShow; let i = index">

                <td>{{i + 1}}</td>
                <td>{{customer.name}}</td>
                <td>{{customer.lastName}}</td>
                <td>{{customer.age}}</td>
                <td>{{customer.city}}</td>
                <td>{{customer.phone}}</td>
                <td>{{customer.email}}</td>

              </tr>
            </table>

          </div>
        </div>
      </div>

      <button
        class="btn btn-primary"
        type="submit"
        size="small"
        (click)="onSaveToTheFile()">
         Save to the file
      </button>


    </div>
  </div>
</div>
