<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

      <h2>Welcome to your file writer</h2>

      <form (ngSubmit)="onSubmit()" #writeForm="ngForm">

        <div
          id="request"
          ngModelGroup="request"
          #request="ngModelGroup">


          <div class="form-group">
            <label for="fileType">Choose file type:</label>
            <select
              id="fileType"
              class="form-control"
              [ngModel]="defaultType"
              name="fileType">

              <option
                *ngFor="let fileType of fileTypes"
                [value]="fileType"> {{ fileType }}
              </option>

            </select>
          </div>

          <div class="form-group">
            <label for="fileName">Please enter the file name: </label>
            <input
              type="text"
              id="fileName"
              class="form-control"
              ngModel
              name="fileName"
              required
              #fileName="ngModel">
            <span class="help-block" *ngIf="!fileName.valid && fileName.touched">Please enter file name.</span>
          </div>

        </div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!writeForm.valid"> Create file
        </button>
      </form>
    </div>
  </div>

  <br>
  <hr>
  <br>
  <br>
  <div class="row" *ngIf="showForm()">
    <div class="col-xs-12">
      <app-item-to-save
        [fileNameToSave]="currentFileName"
        [fileTypeToSave]="currentFileType"></app-item-to-save>
    </div>
  </div>

  <div class="row fileSaved" *ngIf="writerService.fileSavedMessage">
    {{ fileSaved }}
  </div>

</div>
