<div class="container">
  <div class="row">
    <div class="col-xs- 12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

      <form (ngSubmit)="onSubmit()" #searchForm="ngForm">

        <div
          id="request"
          ngModelGroup="request"
          #request="ngModelGroup">

          <h5>Would you like to search for more detailed data?</h5>

          <div class="form-group">
          <label for="filter">Choose filter type:</label>
          <select
            id="filter"
            class="form-control"
            name="filterName"
            [(ngModel)]="filterName"
          >

            <option
              *ngFor="let filterType of filterTypes"
              [ngValue]="filterType.id"
            > {{ filterType.val }}
            </option>

          </select>
        </div>

          <div class="form-group" *ngIf="filterName === 'byName'">
            <label for="customerName">Please enter customer name: </label>
            <input
              type="text"
              id="customerName"
              class="form-control"
              ngModel
              name="customerName"
              required
              #customerName="ngModel"
              >
          </div>

          <div class="form-group"  *ngIf="filterName ==='byCity'">
            <label for="customerCity">Please enter customer city: </label>
            <input
              type="text"
              id="customerCity"
              class="form-control"
              ngModel
              name="customerCity"
              required
              #customerCity="ngModel"
             >
          </div>

        </div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!searchForm.valid"> Submit
        </button>
      </form>
    </div>
  </div>



  <br>
  <br>

  <div class="row" *ngIf="choosedFilterName">
    <div class="col-xs-12">
      <h4>Your requested detailed search is:</h4>
      <div>
        <p> Customer name: <strong> {{ searchRequestDetails.customerName}} </strong> </p>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="choosedFilterName">
    <div class="col-xs-12 result-not-found-message" *ngIf="customer == null">
      The result: There is no such customer.

    </div>
    <div class="col-xs-12" *ngIf="customer != null">
      <p>The result:</p>
      <div *ngIf="customer">
        <div>

          <table class="table">
            <tr>
              <th>Name</th>
              <th>Last name</th>
              <th>Age</th>
              <th>City</th>
              <th>Phone</th>
              <th>Email</th>
            </tr>
            <tr>

              <td>{{customer.name}}</td>
              <td>{{customer.lastName}}</td>
              <td>{{customer.age}}</td>
              <td>{{customer.city}}</td>
              <td>{{customer.phone}}</td>
              <td>{{customer.email}}</td>

            </tr>
          </table>

        </div>
      </div>
    </div>
  </div>


  <div class="row" *ngIf="choosedFilterCity">
    <div class="col-xs-12" *ngIf="customers != null">
      <h4>Your requested detailed search is:</h4>
      <div>
        <p> Customer city: <strong> {{ searchRequestDetails.customerCity}} </strong> </p>
      </div>
    </div>
  </div>

  <div
    class="row result-not-found-message"
    *ngIf="choosedFilterCity && customers?.customerList.length === 0">
    There are no customers from that city.
  </div>

  <div class="row"
       *ngIf="choosedFilterCity && customers?.customerList.length > 0"
  >
    <div class="col-xs-12">
      <p>The result:</p>
      <div *ngIf="customers">
        <div>

          <table class="table">
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Last name</th>
              <th>Age</th>
              <th>City</th>
              <th>Phone</th>
              <th>Email</th>
            </tr>
            <tr *ngFor="let customer of customers.customerList; let i = index">

              <td>{{i + 1}}</td>
              <td>{{customer.name}}</td>
              <td>{{customer.lastName}}</td>
              <td>{{customer.age}}</td>
              <td>{{customer.city}}</td>
              <td>{{customer.phone}}</td>
              <td>{{customer.email}}</td>

            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>

