<!--reader-->
<!--<br>-->
<!--<br>-->
<!--<app-reader></app-reader>-->

<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<hr>-->
<!--writer-->
<!--<br>-->
<!--<br>-->
<!--<app-writer></app-writer>-->

<app-header>
</app-header>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
