<div class="container">
  <div class="row">
    <div class="col-xs- 12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

      <p class="fileToDelete">If you like to delete this file, please press the button:</p>

      <button type="button" class="btn btn-primary" (click)="onDelete()">Delete file!</button>

    </div>
  </div>
</div>
