<div class="container">
  <div class="row">

    <div class="column">

      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

        <form (ngSubmit)="onAddItem()" #itemForm="ngForm">

          <div
            id="request"
            ngModelGroup="request"
            #request="ngModelGroup">

            <div class="form-group">
              <label for="customerName">Name: </label>
              <input
                type="text"
                id="customerName"
                class="form-control"
                ngModel
                name="customerName"
                required
                #customerName="ngModel"
              >
            </div>

            <div class="form-group">
              <label for="customerLastName">Last name: </label>
              <input
                type="text"
                id="customerLastName"
                class="form-control"
                ngModel
                name="customerLastName"
                required
                #customerLastName="ngModel"
              >
            </div>

            <div class="form-group">
              <label for="customerAge">Age: </label>
              <input
                type="text"
                id="customerAge"
                class="form-control"
                ngModel
                name="customerAge"
                required
                #customerAge="ngModel"
              >
            </div>

            <div class="form-group">
              <label for="customerCity">City: </label>
              <input
                type="text"
                id="customerCity"
                class="form-control"
                ngModel
                name="customerCity"
                required
                #customerCity="ngModel"
              >
            </div>

            <div class="form-group">
              <label for="customerPhone">Phone: </label>
              <input
                type="text"
                id="customerPhone"
                class="form-control"
                ngModel
                name="customerPhone"
                required
                #customerPhone="ngModel"
              >
            </div>

            <div class="form-group">
              <label for="customerEmail">Email: </label>
              <input
                type="text"
                id="customerEmail"
                class="form-control"
                ngModel
                name="customerEmail"
                required
                #customerEmail="ngModel"
              >
            </div>
          </div>

          <button
            class="btn btn-primary"
            type="submit"
            size="small"
            [disabled]="!itemForm.valid"> Add item
          </button>

        </form>
      </div>
    </div>

    <div class="column">
      <div class="row" *ngIf="submitted && previewToShow">
        <div class="col-xs-12">
          <app-writer-preview [customersToShow]="customersPreviewList" [fileName]="fileNameToSave"></app-writer-preview>
        </div>
      </div>

      <!--<div *ngIf="savedText.length > 0">-->
        <!--<br>-->
        <!--<p class="savedtext">{{savedText}}</p>-->
      <!--</div>-->

    </div>
  </div>

</div>
