<div class="container">
  <div class="row">
    <div class="col-xs- 12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

      <p class="updateFile">If you like to update this file, please press the button:</p>

      <button type="button" class="btn btn-primary" (click)="onUpdate()">Update the file!</button>

      <div *ngIf="submittedButton  && updateService.updateOptionOn">
        <table class="table">
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Last name</th>
            <th>Age</th>
            <th>City</th>
            <th>Phone</th>
            <th>Email</th>
          </tr>
          <tr *ngFor="let customer of customersToModify.customerList; let i = index">
            <td>{{i + 1}}</td>
            <td><input type="text"
                       [(ngModel)]="customer.name"></td>
            <td><input type="text"
                       [(ngModel)]="customer.lastName"></td>
            <td><input type="number"
                       [(ngModel)]="customer.age"></td>
            <td><input type="text"
                       [(ngModel)]="customer.city"></td>
            <td><input type="text"
                       [(ngModel)]="customer.phone"></td>
            <td><input type="text"
                       [(ngModel)]="customer.email"></td>
          </tr>
        </table>
      </div>

      <div *ngIf="submittedButton && updateService.updateOptionOn">
        <button type="button" class="btn btn-primary" (click)="onConfirmChanges()">Confirm changes!</button>
      </div>

      <div class="fileSaved" *ngIf="savedText.length > 0 && updateService.updateOptionOn">{{ savedText }}</div>
    </div>
  </div>
</div>
